
    <!-- Кнопки-ссылки -->
    <div class="d-flex justify-content-around mb-4">
        <a href="#Old" class="btn btn-primary">#Для старых</a>
        <a href="#News" class="btn btn-success">#Для молодых</a>
        <a href="#Baby" class="btn btn-warning">#Для детей</a>
    </div>

    {% for i in News %}
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/hand-drawn-winter-clothes-essentials-collection_23-2149138519.jpg?semt=ais_hybrid" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.price }}</p>
        </div>
    </div>
    {% endfor %}